/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

row {
  -moz-box-align: center;
}

richlistitem {
  -moz-box-align: center;
  border-bottom: 1px dotted grey;
  border-top: 2px solid transparent;
}

.webapp-icon {
  width: 16px;
  height: 16px;
  margin: 5px;
}

richlistitem[dragpos=before] {
  border-top: 2px solid black;
}

richlistitem[dragpos=after] {
  border-bottom: 2px solid black;
}
