/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.webtab > image {
  width: 16px;
  height: 16px;
}

#webapptabs-controls label {
  display: none;
}

#webapptabs-create-button {
  list-style-image: url(chrome://webapptabs/skin/chalkwork/add.png);
}

#webapptabs-intro-icon {
  height: 48px;
  width: 48px;
  list-style-image: url(chrome://webapptabs/skin/icon48.png);
  margin-left: 8px;
}

#webapptabs-intro-title {
  font-size: 150%;
  margin-bottom: 5px;
}

#webapptabs-intro-titlebox {
  margin-bottom: 0.5em;
}
